body {
  margin: 0;
}
.back {
  position: absolute;
  top: 0px;
  width: 100%;
  max-height: 100%;
  background-color: rgb(4, 2, 117);
  z-index: -1;
  overflow: hidden;
}

.box {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.274),
    0 6px 20px 0 rgba(0, 0, 0, 0.267);
  width: 50rem;
}
